.header{ /*o .header img so move a imagem,o header tambem esta fora do bloco 1*/
    padding-top: 0;
    margin-left:0;
    background-image: url("img/xadrez.jpg"); 
    }
.nav{ /*mecher aquii*/
  float:center;
  background-color: aqua;
}

  ul {
      list-style-type: none; /*tira os pontos da ul e li*/
      margin:0;
      padding:0;
      overflow: hidden;
      background-color:rgb(24, 24, 24);
      border:2px solid rgb(250, 58, 0);
      border-radius:0px 0px 0px 0px; /*deixa a borda redonda*/
      max-width: 100%;
      width: 40%;
      margin-left:30.3%; 
     
      
    }
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: orangered;
      text-align: center;
      padding: 10px 45px;
      padding-left: 60px;
      text-decoration: none;
    }
    
    li a:hover{
      
      background-color: orangered;
      color: white;
      font-size: 15px; /*efeito de zoom ao passar o mouse*/
    }
  /*FOOTER*/
    .footer{ 
        color:white;
        text-align:center;
        clear: both; /*jogar o rodape no final do texto*/
        background-image: linear-gradient(-50deg,rgb(252, 93, 30),rgb(255, 102, 0),rgb(252, 93, 30));
        padding-bottom: 0 auto;
        /*CONFIGURANDO-O-BLOCO-FOOTER*/
        height:0 auto;
        width: 100%;
        float: left;
      }
      .footer1{
        width: 0%;
        float: left;
      }

      .footer2{
        width: 100%;
        float: left;
        text-align: center;
      }
      .footer3{
        width: 0%;
        float: left;
      }
      .hd-logo{
        float: left;
      }
  /*FOOTER*/

      @media screen and (max-width:600px){
      
        ul {
          list-style-type: none; /*tira os pontos da ul e li*/
          margin:0;
          padding:0;
          overflow: hidden;
          background-color:rgb(24, 24, 24);
          border:2px solid rgb(250, 58, 0);
          border-radius:0px 0px 0px 0px; /*deixa a borda redonda*/
          max-width: 30%;
          width: 40%;
          margin-left: 35%;
           
        }
        
        li a {
          display: block;
          color: orangered;
          text-align: center;
          padding: 10px 0px;
          padding-left: 1.5em;
          text-decoration: none;
        }
      }
      
      
      
      /*Celulares*/
      @media screen and (max-width:1750px){
        
        ul {
          list-style-type: none; /*tira os pontos da ul e li*/
          margin:0;
          padding:0;
          overflow: hidden;
          background-color:rgb(24, 24, 24);
          border:2px solid rgb(250, 58, 0);
          border-radius:0px 0px 0px 0px; /*deixa a borda redonda*/
          max-width: 100%;
          width: 100%;
          margin-left: 0%;
           
        }
        
        li a {
          display: block;
          color: orangered;
          text-align: center;
          padding: 10px 20px;
          padding-left: 1.5em;
          text-decoration: none;
        }
        
      }

