body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
.bloco1{
  width: 100%;
  height: 0%;
  margin-left: 10px;/*distanciamento do bloco da borda esquerda*/
  
  
}
.header{ /*o .header img so move a imagem,o header tambem esta fora do bloco 1*/
  padding-top: 0;
  margin-left:0;
  }
.insanoLogo{
  padding-top: 30px;/*insano esta fora do bloco1 porque faz parte do header*/
}
h2 { /*Insanos M.C*/
  color:blanchedalmond;
  padding-top: 45px;
  
}
ul {
    list-style-type: none; /*tira os pontos da ul e li*/
    margin:0;
    padding:0;
    overflow: hidden;
    background-color:rgb(24, 24, 24);
    border:2px solid blanchedalmond;
    border-radius:0px 0px 0px 0px; /*deixa a borda redonda*/
    max-width: 100%;
    
   
    
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: orangered;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: orangered;
    color: white;
    font-size: 15px; /*efeito de zoom ao passar o mouse*/
  }

  .historia1{
    color:whitesmoke;
    
  }
  .historia2{
    margin-top: 10px;/*distancia da historio2 do historia1*/
    color:whitesmoke;
    float:left;
  }
/*--Container--*/
.slide1{
  float:left;
}

.footer{
  color:yellow;
  margin-top: 30%;
  
}
 