/*Em alguma parte do codigo esta impossibilitando  o body preencher toda a tela*/
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
.header{
  background-image: url("img/xadrez.jpg");
}
.insanoLogo{
  padding-top: 0px;/*insano esta fora do bloco1 porque faz parte do header*/
}


/*----------meio da pagina--------------*/
.bloco1{
  padding-top: 30px;
  width: 100%;
  margin: 0 auto;
  margin-left: 0 auto;/*distanciamento do bloco da borda esquerda*/ 

}
/*--Container--*/
.farol{/*apagar,pois isto é somente um teste pra ver se da pra por uma imagem no lado da outra*/
  width: 30%;
  margin-top: 3em;
  float:left;
}
.slide1{
  float:left;
  margin-top: 3em;
  margin-left: 2em;
  
  
}


  
