body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  
}

.insanoLogo{
  padding-top: 50px;/*insano esta fora do bloco1 porque faz parte do header*/
}

h2 { /*Insanos M.C*/
  color:blanchedalmond;
  padding-top: 10px;
  text-decoration: underline;
  
}


.bloco1{
  
  width: 100%;
  margin:0 auto;
  height:0 auto;
  margin-left: 20px;/*distanciamento do bloco da borda esquerda*/ 
  
}



  .historia1{
    color:whitesmoke;
    float:left;
    
  }
  .historia2{
    margin-top: 10px;/*distancia da historio2 do historia1*/
    color:whitesmoke;
    float:left;
  }
/*--Container--*/
.slide1{
  float:left;
  margin-left: 100px;
  
}

