body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:gray;
    
  }

  .bloco1{
        padding-top: 30px;
        width: 100%;
        margin: 0 auto;
        margin-left: 0 auto;/*distanciamento do bloco da borda esquerda*/ 
        background-color: gray;
  }

  #minibloco1{
        width:50%;
        height:0 auto;
        background-color: gray;
        float:left;
  }
  #minibloco2{
      width:50%;
      height:0 auto;
      background-color: red;
      float:left;
}
/*PATCHES*/
.patches{
      background-color: rgba(0, 255, 255, 0.616);
      width: 100%;
      padding-top: 1px;
      padding-bottom: 0.5px;
      text-align: center;
      color:black;
}

.tabela{
      margin-top: 5%;
}
.tabela th{  
color: aqua;  
font-weight: bold;    
border: 3px solid rgba(0, 255, 255, 0.616);
background-color: black;
}
.tabela td{
color: white;
font-weight: bold;
border: 1px solid rgba(0, 255, 255, 0.616);
background-color: #565656;
}

/*FORMAÇÃO NO COMBOIO*/
.Formacao{
      color:white;
      text-align: center;
}

.formacao1{
      background-color: black;
}
.formacao1 h4{
      color:black;
      background-color:whitesmoke;
      text-align: center;
}
.formacao2{
      background-color: black;
}
.formacao2 h4{
      color: black;
      background-color:whitesmoke;
      text-align: center;
} 
.formacao3{
      background-color: black;
}
.formacao3 h4{
      color: black;
      background-color:whitesmoke;
      text-align: center;
}
/*-------FIM-FORMAÇÃO------------------*/

/*---------PARTE RESPONSIVA------------*/
@media screen and (max-width:1400px){
      #minibloco1{
            width:100%;
            height:auto;
            background-color: aqua;
            float:left;
      }

      #minibloco2{
            width:100%;
            height:auto;
            background-color: red;
            float:left;
   }    
}